html,
body{
  padding: 0;
  margin: 0;
  font-family:monospace;
}
*{
  box-sizing: border-box;
}
body{
 background-color:hsl(30,38%,92%);
 width:100vw;
 height: 100vh;
}
main{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  margin:auto;
  background-color: hsl(26.25deg 42.11% 92.55%);
  margin:12rem 3rem 6rem 9rem;
  padding:5rem;
}
.section-one{
  width:20rem;
  height:30rem;
}
.section-one img{
width:100%;
height:100%;
border-radius: 5px 0 0 5px;
}
.section-two{
  width:20rem;
  height:30rem;
  background-color: white;
  padding: 2rem;
  border-radius: 0 5px 5px 0;
}
.perfume{
 color:hsl(0deg 0% 81.18%); 

}
.pricing{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.first-price{
 color:hsl(0deg 0% 81.18%); 
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.button-wrapper {
  display: flex;
  align-items: center;
  background-color:green ;
  justify-content: center;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  cursor: pointer;
}
.button-wrapper img {
  width: 1rem;
  height: 2rem;
}ls
button {
border: none;
background-color: transparent;
color:white ;
}
